<!DOCTYPE html>
<head>
  <title>Home</title>
  <style>
    h1{
        color: blue;
        font-family: Verdana;
        font-size: 300%;
    }
    p{
        color:red;
        font-family: Courier;
        font-size: 160%;
    }
    #key {
        color: #ff00ff;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    #key1 {
        color: purple;
        font-family: Arial, Helvetica, sans-serif;
    }
    </style>

</head>

<body style="background-color: #725cad;">
<h1>This is a heading</h1>
<p>This is a paragraph.</p>

<h2 id="key">this is heading with id</h2>
<h3 id="key">this is heading with id</h3>
</body>

<footer>

</footer>